<div class="card">
    <div class="card-body">
        <h3 class="text-center">NODEJS</h3>
        <p>Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor basado en el lenguaje de programación JavaScript, asíncrono, con E/S de datos en una arquitectura orientada a eventos y basado en el motor V8 de Google.</p>
        <hr>
        <h3 class="text-center">EXPRESS</h3>
        <p>Express es un framework web transigente, escrito en JavaScript y alojado dentro del entorno de ejecución NodeJS. El modulo explica algunos de los beneficios clave de este framework, como configurar tu entorno de desarrollo y como realizar tareas comunes en desarrollo y publicación web.</p>
        <hr>
        <h3 class="text-center">MONGODB</h3>
        <p>MongoDB es un sistema de base de datos NoSQL orientado a documentos de código abierto y escrito en C++, que en lugar de guardar los datos en tablas lo hace en estructuras de datos BSON (similar a JSON) con un esquema dinámico.</p>
        <hr>
        <h3 class="text-center">BOOTSTRAP</h3>
        <P>Bootstrap, es un framework originalmente creado por Twitter, que permite crear interfaces web con CSS y JavaScript, cuya particularidad es la de adaptar la interfaz del sitio web al tamaño del dispositivo en que se visualice.</P>
        <hr>
        <h3 class="text-center">HBS</h3>
        <p>El uso de hbs como motor de visualización predeterminado requiere solo una línea de código en la configuración de la aplicación.</p>
    </div>
</div>