<div class="jumbotron mt-4 texto">
    <h1 class="display-4">Aplicacion de Notas Realizada con Nodejs y Mongodb</h1>
    <p class="lead">Solo con propositos academicos. Para comenzar a probarla solo dirigase a la parte superior derecha donde dice iniciar session, luego lo mas seguro es que no cuente con una cuenta asi que procedera a crear una, una vez creada la cuenta proceda a iniciar session y listo YA PODRAS CREAR LAS NOTAS QUE QUIERAS, SALUDOS...</p>
    <hr class="my-4">
    <p>Si quieres conocer mas acerca de mi a continuacion te dejo el enlace a mi repositorio, Espero les guste y nuevamente valga la redundancia es solo con propositos academicos</p>
    <a href="https://github.com/SystemMasterPro" target="_blank" class="btn btn-success">RichardDev</a>
</div>