<div class="jumbotron mt-4 texto">
    <h1 class="display-4">Aplicacion de Notas Realizada con Nodejs y Mongodb</h1>
    <p class="lead">Solo con propositos academicos </p>
    <hr class="my-4">
    <p>Si quieres conocer mas acerca de mi a continuacion te dejo el enlace a mi pagina personal, Espero les guste y nuevamente valga la redundancia es solo con propositos academicos</p>
    <a href="#" class="btn btn-success">RichardDev</a>
</div>